{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    ["babel-plugin-module-alias", [
        { "src": "./config", "expose": "settings" },
        { "src": "./src/utils", "expose": "utils" },
        { "src": "./src/containers", "expose": "containers" },
        { "src": "./src/components", "expose": "components" },
        { "src": "./src/actions", "expose": "actions" }
    ]],
    ["babel-plugin-syntax-jsx"],
    ["transform-runtime"]
  ]
}
